@import url(//db.onlinewebfonts.com/c/353efa59e46e6dcb29eeada2f25f490a?family=Formular+Medium)
@import "null.style"

@mixin hoverEffect($color, $radius)
  background-color: ($color)
  border-radius: ($radius)

%between
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
%black
  color: #222222
%cursor
  cursor: pointer
%height
  max-height: 32px
%top
  position: absolute
  top: 0
%saveBtnActive
  color: #fff
  background: #0656B4
  border-radius: 0 0 10px 10px

html
  font-family: 'Open Sans', sans-serif
  line-height: 22px
body
  background: grey
  margin: 15px 0
header
  width: 100%
  background: #fff
a
  @extend %cursor
.container
  max-width: 90%
  display: grid
  grid-template-rows: 1fr 1fr
  row-gap: 26.5px
  margin: 0 auto
  padding: 24px 0 18.5px 0
.settings
  @extend %between
  .logo
    @extend %between
    .city
      @extend %between
      @extend %cursor
      @extend %height
      position: relative
      margin-left: 16px
      .city-main
        padding: 0 16px 0 40px
      img
        @extend %top
        left: 0
        margin-right: 8px
  .search
    position: relative
    input
      min-width: 592px
      background: #F1F1F1
      font-size: 14px
      color: #767676
      text-align: left
      border: none
      border-radius: 100px
      padding: 13px 8px 13px 48px
      &:-moz-placeholder
        text-align: center
      &::-moz-placeholder
        text-align: center
      &:-ms-input-placeholder
        text-align: center
      &::-webkit-input-placeholder
        text-align: center
    .search-btn
      @extend %top
      top: 15px
      left: 16px
  .account
    @extend %between
    .like-btn
      @extend %between
      @extend %cursor
      @extend %height
      margin-right: 10.5px
      padding: 9px 4px
      &:hover
        @include hoverEffect(#F1F1F1, 37px)
      img
        margin-right: 7.5px
      p
        @extend %black
        margin: 0
    .profile-btn
      @extend %between
      @extend %cursor
      margin-left: 39.5px
      a
        padding: 0 7px 0 13px
        &:hover
          color: #767676
.menu
  @extend %between
  position: relative
  >a
    padding: 2.5px 10px
  .menu_active
    @include hoverEffect(#F1F1F1, 34px)
  div
    @extend %between
    a
      color: transparent
      -webkit-background-clip: text
      background-image: linear-gradient(to right, #000, #fff)
    button
      @extend %top
      width: 20px
      height: 20px
      top: 15px
      right: 5px
      max-width: 25px
      background: url("../images/arrow-right.svg") #fff no-repeat
      border: none
      &:hover
        background: url("../images/arrow-right-hover.svg") #fff no-repeat
.invisible
  display: none
.visible
  display: block
.container-block
  display: block
  padding: 24px 8px
.back
  min-width: 108px
  background: #F1F1F1
  padding: 12px 0 12px 44px
  button
    @extend %between
    background: transparent
    border: none
    p
      @extend %black
      font-family: "Formular", sans-serif
      font-weight: 500
      font-size: 12px
      line-height: 16px
      letter-spacing: 2px
      text-transform: uppercase
      margin-left: 13px
.choose-city
  position: absolute
  top: 50px
  left: 0
  display: flex
  min-width: 384px
  flex-direction: column
  background: #FBFBFB
  box-shadow: 0 7px 38px rgba(44, 62, 106, 0.25)
  border-radius: 10px
  z-index: 100
  .search-city
    border-bottom: 1px solid #D8D8D8
    padding: 24px 16px 15px 16px
    .cross-btn
      display: none
      position: absolute
      top: 40px
      right: 35px
      cursor: pointer
      z-index: 100
      border: none
      background-color: transparent
    input
      position: relative
      width: 92%
      font-size: 14px
      padding: 14px 0 12px 25px
      border: 2px solid #ABC8EA
      border-radius: 100px
      outline: none
      &::placeholder
        color: #A7A7A7
    .chosen-city
      display: flex
      flex-direction: row
      flex-wrap: wrap
      max-width: 384px
      column-gap: 8px
      row-gap: 8px
      margin-top: 16px
      overflow: hidden
      .city-elem
        display: flex
        flex-direction: row
        justify-content: space-between
        background: #0656b4
        color: #fff
        font-size: 14px
        border-radius: 49px
        padding: 9px 13px 9px 16px
        p
          margin: 0
          padding-right: 8px
        img
          position: initial
  .cities
    display: flex
    flex-direction: column
    max-height: 223px
    overflow-y: hidden
    margin: 8px 0 25px 0
    padding: 0
    cursor: auto
    //Google Chrome
    &::-webkit-scrollbar
      max-width: 8px
      height: 200px
    &::-webkit-scrollbar-thumb
      width: 4px
      height: 50px
      background-color: #d8d8d8
      border-radius: 45px
      &:hover
        background-color: #999
        width: 8px
        -webkit-transition: background-color .2s linear , width .2s ease-in-out
    &:hover
      overflow-y: auto
    .cities-elem
      display: flex
      flex-direction: column
      font-family: "Open Sans", sans-serif
      padding: 11px 16px
      cursor: pointer
      text-decoration: none
      color: #767676
      span
        font-size: 12px
        line-height: 20px
        &:first-child
          font-size: 14px
          line-height: 22px
          color: #000
      &:first-child
        background: #F1F1F1
      &:active
        background: #F1F1F1
      &:hover
        @include hoverEffect(#F1F1F1, 0)
  .save-btn
    button
      width: 100%
      background: transparent
      text-align: center
      font-size: 12px
      line-height: 16px
      letter-spacing: 2px
      text-transform: uppercase
      border: none
      border-top: 1px solid #D8D8D8
      color: #A7A7A7
      padding: 16px 0
      &:active
        opacity: 0.9
        @extend %saveBtnActive
      &:hover
        @extend %saveBtnActive
@keyframes preloader
  0%
    transform: rotate(0deg)
  50%
    transform: rotate(180deg)
  100%
    transform: rotate(360deg)
.preloader
  div
    position: absolute
    animation: preloader 1s linear infinite
    width: 100px
    height: 100px
    top: 30px
    left: 120px
    border-radius: 50%
    box-shadow: 0 4px 0 0 #93dbe9
    transform-origin: 50px 52px
.preloader-wrap
  display: inline-block
  width: 100%
  height: 150px
  overflow: hidden
.preloader
  position: relative
  width: 100%
  height: 100%
  transform: translateZ(0) scale(1)
  backface-visibility: hidden
  transform-origin: 0 0
.preloader
  div
    box-sizing: content-box
.onMouse
  @include hoverEffect(#F1F1F1, 37px)
mark
  color: #0d6efd
  background-color: transparent